#cabecalho{
	width: 49%;
	margin: 0px auto;
	padding: 0px;
}

#navegacao{
	width: 100%;	
	background-color: #718093;
	padding: 5px;
}

#navegacao ul{
 list-style: none;
 text-align: center;


 
}

#navegacao ul li{
	display: inline-block;
	margin: 10px auto;
	padding: 2.5px;
	
}

#navegacao ul li a{
	 color: black;
	 text-decoration: none;
	
}







/**dropdrown**/


.dropbtn{
	color: white;
	
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropdown{
	position: relative;
	display: inline-block;
}

.dropdown-content{
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width:160px; 
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); 
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/*
.dropdrown-content a:hover {
	background-color: #000;

}

*/

.dropdown:hover .dropdown-content{
	display: block;
}





#tituloNavegacao{
	border-bottom: 1px solid #ccc;
}

#menuLateral{
	width: 280px;
	height: 430px;
	float: left;
	margin-left:25.5%;
	margin-top: 5px;
	border: 1px solid black;
	clear: both;
}

#menuLateral h3{
	text-align: left;
	margin: 10px;

}

#menuLateral ul {
	list-style: none;
	text-align: left;
}
#menuLateral ul li a {
	display: block;
	margin: 15px;
	text-decoration: none;
	color: black;
}

#corpoPrincipal{
	border: 1px solid black;
	width: 35%;
	margin: 5px 39%;
	padding: 10px;
}


#listaCliente{
	padding: 5px;
	margin: 0px;
}

#listaCliente table{
	width: 100%;
	border: 1px solid #718093;
	margin:  0px auto;
}

#listaCliente table th {
	border: 1px solid #7f8fa6;
	background-color: #dcdde1;
	padding: 5px;
	
}

#listaCliente table td{
	border: 1px solid #718093;
	background-color: #f5f6fa;
	text-align: center;
	padding: 5px;
}

#listaCliente h4{
	margin: 0px;
	padding: 0px;
	background-color: #718093;
